.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-gray-color);
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

// footer-address

.footer__address {
  margin-right: 70px;
}

.address {
    margin-top: 20px;
  }

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__text--bold {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main_white-color);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__text--thin {
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

//  footer-socials

.footer__socials {
    margin-right: 93px;
  }

  .footer__socials__list {
    display: flex;
    gap: 10px;
  }

  .footer__socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  
    color: var(--main_white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  
    transition: background-color var(--anim-fast);
 
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    }
  
   .footer__socials__icon {
    fill: currentColor;

  }

// footer-subscribe

  .subscribe__icon {
    fill: var(--main_white-color);
  }
  
  .subscribe__form {
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }
  
  .subscribe__email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    min-width: 358px;
  
    font-size: 16px;
    line-height: calc (20/16);
  
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }
  